body {
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

#show {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
